* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $color-primary;
  color: set-text-color($color-primary);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings

//1rem = 16px default size

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $color-secondary 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($color-primary, 5);
    padding: 0.5rem;
    border-bottom: $color-secondary 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color-primary, 10);
  color: set-text-color($color-primary);
  height: 3.75rem;
}
