* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $color-primary;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings

//1rem = 16px default size

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
