* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $color-primary;
  color: set-text-color($color-primary);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings

//1rem = 16px default size

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color-primary, 10);
  color: set-text-color($color-primary);
  height: 3.75rem;
}
